body{
    background-color: palevioletred;
}

.city {
    display: grid;
    grid-template-areas: 
    "b d c";
    box-shadow: 1px 1px 3px #0a1612;
    height: 150px;
    align-items: center;
    justify-items: center;
}

input{
    margin: 5px;
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    font-weight: bold;
    background-color: pink;
}

.details{
    display: grid;
    grid-area: d;
    grid-template-areas: 
    "t"
    "n";
}

.con{
    display: grid;
    grid-area: c;
    grid-template-areas: 
    "p"
    "i";
}

.name{
    display: grid;
    grid-area: n;
}

.temp{
    display: grid;
    grid-area: t;
}

.btn {
    display: grid;
    grid-area: b;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    color: palevioletred;
}

.conditionPic{
    display: grid;
    grid-area: p;
}

.condition{
    display: grid;
    grid-area: i;
}

.saveBtn{
    background-color: maroon;
}

.remBtn{
    background-color: green;
}
